.container {padding: 0 !important; background: #fff; font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif !important;}

.q7-content{width: 100%; position: fixed; z-index: 60; background-color: #1a1a1a; height: 100%; top: 0; left: 0; background-size: contain; padding-bottom: 100px; overflow-y: scroll;}
.q7-content p{margin:0;}
.q7-background{width: 100%; height: 400px !important; position: absolute; padding: 125px 15%; background-size: cover !important; background-position-y: 75% !important; z-index: 100;}
.q7-background > h1 {color: #fff;font-size: 5vh;font-weight: bold;font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif;margin: 0; text-shadow: 0 0 0.5rem #000; text-align: right; width: 550px; float: right;}
.q7-background > h2 {color: #fff;font-size: 3vh;font-weight: bold;margin: 0;font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif; text-shadow: 0 0 0.5rem #000; text-align: right; width: 550px; float: right;}
.q7-background-button-1 {background: #bb0a30; color: #fff; font-size: 20px; border: 0; padding: 15px 30px; margin-top: 15px; font-weight: bold; box-shadow: 0 0 10px 0px black; transition: 0.5s; float: right;}
.q7-background-button-2 {background: #fff; color: #000; font-size: 20px; border: 0; padding: 15px 30px; font-weight: bold; margin-top: 15px; margin-left: 15px; box-shadow: 0 0 10px 0px black; transition: 0.5s; float: right;}
.q7-background-button-1:hover {background: #fff; color: #000;}
.q7-background-button-2:hover {background: #fff; color: #000;}

.q7-header {max-width: 925px; background: transparent; text-align: right; color: #fff; text-shadow: 0 0 10px black;}
.q7-header > h1 {color: #fff;font-size: 5vh;font-weight: bold;font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif;margin: 0; text-shadow: 0 0 0.5rem #000; text-align: right; width: 550px; float: right;}
.q7-header > h2 {color: #fff;font-size: 3vh;font-weight: bold;margin: 0;font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif; text-shadow: 0 0 0.5rem #000; text-align: right; width: 550px; float: right;}

.q7-left{text-align: left !important;}
.q7-center{text-align: center !important;}
.q7-right{text-align: right !important;}

.q7-block {width: 100%; background: #fff; padding: 0; font-family: 'DIN Next W01 Regular', Arial, Helvetica, sans-serif; position: relative;}
.q7-block-ajax {background: #fff; padding: 20px;}

.q7-cta-block-l {background: #fff; padding: 25px;}
.q7-cta-block-l > h2 {font-weight: bold; margin: 0 !important;}
.q7-cta-block-l > input {width: 100%; padding: 10px; border: solid #1a1a1a 2px;}
.q7-cta-block-l-p {font-weight: bold; margin-top: 15px !important;}
.q7-cta-block-l > button {width: 50%; padding: 10px; border: solid #1a1a1a 2px; margin-top: 15px; background: #db052c; color: #fff; float: right; font-weight: bold;}
.q7-cta-block-r {background: #fff; padding: 25px; transition: 1s;}
.q7-cta-block-r > input {width: 100%; padding: 10px; border: solid #1a1a1a 3px; margin-top: 15px;}

.q7-highlights{padding: 15px 0px; font-family: 'DIN Next W01 Regular', Arial, Helvetica, sans-serif; font-size: 20px; line-height: 25px;}

.q7-cta{background: #0e69a8; transition: 0.5s; cursor: pointer;}
.q7-cta:hover{background: #ffd00e;}
.q7-cta > a > img {width: 100%; padding: 20px 75px 0px 75px;}
.q7-cta > p {padding: 10px; color: #fff; font-size: 16px; text-align: center;}
.q7-cta-block {padding: 30px; font-family: 'DIN Next W01 Regular', Arial, Helvetica, sans-serif;}

.q7-plan-proefrit {background: #0e69a8; color: #ffffff; font-size: 20px; border: 0; padding: 15px 30px; margin-top: 15px; font-weight: bold; transition: 0.5s;}
.q7-plan-proefrit:hover {background: #ffd00e; color: #000000;}
.q7-send-form {background: #e69800; color: #ffffff; font-size: 20px; border: 0; padding: 15px 30px; margin-top: 15px; font-weight: bold; transition: 0.5s;}
.q7-send-form:hover {background: #ffd00e; color: #000000;}

.q7-topslider {width: 100%;}
.q7-topslider > ul {list-style: none outside none;padding-left: 0;margin-bottom:0;}
.q7-topslider > li {display: block;float: left;margin-right: 6px;cursor:pointer;}
.q7-topslider > li > img {display: block;height: auto;max-width: 100%;}
.q7-topslider-prev {position: absolute; left: -70px; background: #fff; top: 45%; padding: 10px 15px; border-radius: 50%; font-size: 15px; transform: rotate(180deg); cursor: pointer; transition: 0.5s;}
.q7-topslider-next {position: absolute; right: -70px; background: #fff; top: 45%; padding: 10px 15px; border-radius: 50%; font-size: 15px; cursor: pointer; transition: 0.5s;}
.q7-topslider-title {font-size: 3vh; font-weight: bold; margin-bottom: 20px;}
.q7-topslider-text {text-align: left;}

.q7-bottomslider {width: 100%;}
.q7-bottomslider > ul {list-style: none outside none;padding-left: 0;margin-bottom:0;}
.q7-bottomslider > li {display: block;float: left;margin-right: 6px;cursor:pointer;}
.q7-bottomslider > li > img {display: block;height: auto;max-width: 100%;}
.q7-bottomslider-prev {position: absolute; left: -70px; background: #0e69a8; color: #fff; top: 35%; padding: 10px 15px; border-radius: 50%; font-size: 15px; transform: rotate(180deg); cursor: pointer; transition: 0.5s;}
.q7-bottomslider-next {position: absolute; right: -70px; background: #0e69a8; color: #fff; top: 35%; padding: 10px 15px; border-radius: 50%; font-size: 15px; cursor: pointer; transition: 0.5s;}
.q7-bottomslider-text {padding: 25px; font-size: 2vh; text-align: left; font-weight: normal;}

.q7-streetview {background-size: cover; background-position: 50%;}
.q7-video {padding: 30px 0px 50px 0px; font-size: 16px; text-align: justify; transition: 1s;}
.q7-handtekening {transition: 1s; float: right; margin: -30px 15px -30px -30px; max-width: 200px !important;}
.q7-footer-gradient {background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(197, 197, 197, 0.66) 50%,rgba(85, 103, 62, 0) 100%); position: absolute; bottom: -145px; height: 150px; width: 100%; z-index: 100;}

.q7-bottom-stock {text-align: center; margin-bottom: 30px; background: url(https://www.autohoogenboom.nl/content/files/Images/Auto_Hoogenboom/Content_images/GarageSale/Stock_1.jpg); min-height: 150px; background-size: cover; border-right: solid 15px #1a1a1a; color: #fff;}
.q7-bottom-location {text-align: center; margin-bottom: 30px; background: url(https://www.autohoogenboom.nl/content/files/Images/Auto_Hoogenboom/Content_images/GarageSale/Locatie.jpg); min-height: 150px; background-size: cover; border-left: solid 15px #1a1a1a; color: #fff;}
.q7-bottom-button {margin-top: 50px !important; background: transparent; border: solid #fff; padding: 15px 50px 10px 50px; font-weight: bold; display: inline-block; cursor: pointer; font-size: 1.5vh; transition: 0.5s; width: 80%;}

body {overflow: scroll !important;}
body::-webkit-scrollbar-track {background-color: #202020 !important;}
body::-webkit-scrollbar {width: 0px !important; background-color: #ffffff !important;}
body::-webkit-scrollbar-thumb {background-color: #ffffff !important;}

.q7-content::-webkit-scrollbar-track {background-color: #202020 !important;}
.q7-content::-webkit-scrollbar {width: 0px !important; background-color: #ffffff !important;}
.q7-content::-webkit-scrollbar-thumb {background-color: #ffffff !important;}

.lSPager {display: none !important;}
a {color: inherit !important; text-decoration: none !important;}
.stock-tile-item__link {border-radius: 0px !important; border: 3px solid #fff !important;}

@media only screen and (max-width: 500px) {
  .container {padding: 0 20px !important;}
  .loader {padding-top: 50%;}
  .enterText {color: #fff; font-size: 1.5em; font-weight: bold; margin-bottom: 25px;}
  .enterCode {text-align: center; padding: 25px; background: rgb(26, 26, 26); font-size: 30px; color: rgb(255, 255, 255); transition: 0.5s; text-transform: uppercase; width: 75%; margin: 0px; cursor: text !important;}
  .enterButton {padding: 25px; background: rgb(255, 255, 255); border: 3px solid rgb(255, 255, 255); font-size: 30px; color: rgb(0, 0, 0); transition: 0.5s; text-transform: uppercase; cursor: pointer !important; opacity: 100; width: 75%; margin-top: 10%;}
  .q7-header > h1 {color: #fff; font-size: 5vh; font-weight: bold; font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif; margin: 0; text-shadow: 0 0 0.5rem #000; text-align: right; width: 100%;}
  .q7-header > h2 {color: #fff; font-size: 3vh; font-weight: bold; margin: 0; font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif; text-shadow: 0 0 0.5rem #000; text-align: center;}
  .q7-cta-block-l > button {width: 100%;}
  .q7-bottom-stock {border-left: solid 15px #1a1a1a;}
  .q7-bottom-location {border-right: solid 15px #1a1a1a;}
  .q7-content {overflow-x: hidden !important;}
  .q7-background {background-position-x: 38% !important;}
  .q7-background-button-1 {width: 100%;}
  .q7-background-button-2 {width: 100%; margin-left: 0;}
  .q7-cta > a > img {padding: 25px 50px;}
  .q7-cta > p {font-size: 11px; margin-bottom: 30px;}
  .q7-topslider-prev {background: #ffd00e;}
  .q7-topslider-next {background: #ffd00e;}
  .q7-bottomslider-prev {background: #ffd00e;}
  .q7-bottomslider-next {background: #ffd00e;}
}
