
.G-content{width: 100%;position: absolute;z-index: 20;background-color: #f1f1f1;min-height: 100%;top: -23px;left: 0;background-size: contain;padding-bottom: 100px;overflow-y: scroll;height: 100%;}
.G-content p{margin:0;}
.G-blaadjes{position: absolute; top: 100px; left: 0; width: 368px !important;}
.G-background{width:100%;height:400px;position:absolute}
.G-background > img {width: 100%; max-height: 400px;}
.G-background-2{position: absolute; top: 400px; left: 0; width: 100%;}
.G-background-2 > {width: 100%;}
.G-title-h2 {color: #fff;}
.G-title-intro {color: #fff;}
.G-title{margin-top: 50px; margin-bottom: 100px; text-align: left;}
.G-title-text{text-align: justify; color: #fff; font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px;}
.G-button{padding: 15px 50px 10px 50px; background: #fff; color: #000; font-weight: bold; display: inline-block; font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif; margin-top: 20px !important; cursor: pointer; font-size: 3vh; border: 0; transition: 0.5s;}
.G-button:hover{background: #d4d4d4;}
.G-content-title{font-weight: bold; display: inline-block; font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif; margin-top: 50px !important; font-size: 20px;margin-bottom: 25px !important;}
.G-content-block{background: #fff; border-left: 15px solid #f1f1f1; border-right: 15px solid #f1f1f1; margin-bottom: 30px; padding: 25px;cursor: pointer;transition: 0.5s; position: relative;}
.G-content-block:hover{background: #fafafa; box-shadow: rgb(255, 255, 255) 0px 0px 1px 5px inset;}
.G-content-block-gs{position: absolute; top: 25px; left: -25px; z-index: 100;}
.G-content-block-title{font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif;font-size: 22px;font-weight: bold;padding-top: 10px; padding-left: 15px;}
.G-content-block-tag{font-size: 12px; text-align: left; margin-left: 5px !important;}
.G-content-block-price{font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif;font-size: 22px;font-weight: bold;}
.G-content-block-button{font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif;font-size: 2.5vh;font-weight: bold;color: #ff6633;background:#fff;cursor:pointer; padding: 10px;transition: 0.5s;}
.G-disclaimer-title{font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif;font-size: 30px;font-weight: bold;color: #999999;}
.G-disclaimer-text{font-family: "DIN Next W01 Regular", Arial, Helvetica, sans-serif;color: #999999;}
.G-ul{padding-left: 15px;}

.G-inruilvoorstel-title{font-size: 20px; font-weight: bold;}
.G-inruilvoorstel-input{width: 100%; padding: 10px; margin-bottom: 15px;}
.G-inruilvoorstel-button{width: 100%; padding: 10px; background: #2d84c2; color: #fff; border: 0; margin-top: 15px; font-weight: bold; cursor: pointer;}
.G-inruilvoorstel-button:hover{background: #2173ab;}

.G-left{text-align: left !important;}
.G-center{text-align: center !important;}
.G-right{text-align: right !important;}

body {overflow: scroll !important;}
body::-webkit-scrollbar-track {background-color: #202020 !important;}
body::-webkit-scrollbar {width: 10px !important; background-color: #ffffff !important;}
body::-webkit-scrollbar-thumb {background-color: #ffffff !important;}

.G-content::-webkit-scrollbar-track {background-color: #202020 !important;}
.G-content::-webkit-scrollbar {width: 0px !important; background-color: #ffffff !important;}
.G-content::-webkit-scrollbar-thumb {background-color: #ffffff !important;}

@media screen and (max-width: 768px) {
    .G-title-h2 {color: #000;}
    .G-title-intro {color: #000;}
}
